<h1>Importaciones</h1>

In [1]:
import pandas as pd
import openpyxl
import xlrd
import pyarrow as pa
import pyarrow.parquet as pq

import warnings
warnings.filterwarnings(action= 'ignore')

%load_ext autoreload
%autoreload 2
import resources as r

<h1>Fichero Informacion Contable</h1>

In [34]:
# Cargar el archivo Excel
file_path = '../data/raw/info_contable_ypf_2020_1.xls'  # path del fichero.xlsx
workbook = xlrd.open_workbook(file_path) # instancio la carga del fichero en una variable

# Crear un diccionario para almacenar los DataFrames de las tablas dinámicas
pivot_tables = {} # instancio un diccionario para guardar la etiqueta de la hoja y su data en formato dataframe

# Iterar sobre cada hoja del archivo
for idx, sheet_name in enumerate(workbook.sheet_names(), start=1): # itero sobre cada hoja tomando como referencia las etiquetas de cada una con el metodo sheetnames

    sheet = workbook.sheet_by_name(sheet_name)  # Instancia la hoja
    
    # Identificar la tabla dinámica (puedes ajustar este criterio según tu necesidad)
    # Aquí asumimos que la tabla dinámica empieza en la fila 2 y columna B (cambiar según sea necesario)
    pivot_start_row = 1  # Las filas en xlrd están indexadas desde 0
    pivot_start_col = 1  # Las columnas en xlrd están indexadas desde 0
    
    # Extraer la tabla dinámica
    pivot_data = []
    for row_idx in range(pivot_start_row, sheet.nrows):
        row = sheet.row_values(row_idx, start_colx=pivot_start_col)
        pivot_data.append(row)
    
    # Convertir a DataFrame de pandas
    pivot_df = pd.DataFrame(pivot_data[1:], columns = pivot_data[0])
    
    # # Almacenar la tabla dinámica en el diccionario
    pivot_tables[sheet_name] = pivot_df

# Mostrar las tablas dinámicas extraídas
for sheet_name, pivot_table in pivot_tables.items(): # iteramos sobre el nombre de la hoja (clave) y sobre el dataframe con los datos (valor) del diccionario
    año = 2020 # inicializamos una variable que contenga el año al que refieren los datos
    print(f'Tabla dinámica en la hoja: {sheet_name}')
    # print(pivot_table)
    # print('\n')
    df = pd.DataFrame(pivot_tables[sheet_name]) # instanciamos los datos de cada hoja en un dataframe
    df_transposed = df.T # transponemos los datos

    df_transposed.columns = pivot_table.iloc[:, 0] 
    df_transposed = df_transposed.drop(df_transposed.index[0])
    df_transposed['Año'] = año

    if '' in df_transposed.columns:
        df_transposed.drop(columns= '', inplace= True)


    archivo= f'../data/raw/info_contable/{sheet_name}.parquet'
    try:
        pq.write_table(pa.Table.from_pandas(df_transposed), archivo)
    except ValueError:
        df_transposed.columns = list(r.make_unique(df_transposed.columns))
        pq.write_table(pa.Table.from_pandas(df_transposed), archivo)
    
    print(df_transposed.head())
    print(df_transposed.index)
    print('-'*100)
    print()
# print(f'Nombre de dataframe: {sheet_name}')
# pivot_df.head()

Tabla dinámica en la hoja: P&L
        (Amounts expressed in million of Argentine Pesos)   Revenues  \
1Q 2019                                                     130907.0
4Q 2019                                                     206910.0
1Q 2020                                                     174670.0

            Costs Gross Profit Selling Expenses Administration Expenses  \
1Q 2019 -104754.0      26153.0          -9820.0                 -4768.0
4Q 2019 -187044.0      19866.0         -16963.0                 -8124.0
1Q 2020 -145914.0      28756.0         -13876.0                 -6749.0

        Exploration Expenses Other operating results, net Operating Income  \
1Q 2019              -1521.0                        587.0          10631.0
4Q 2019              -2348.0                       -617.0          -8186.0
1Q 2020               -716.0                       7383.0          14798.0

        Income (loss) of interest in companies and joint ventures  ...  \
1Q 2019                                             1559.0         ...
4Q 2019                                             4750.0         ...
1Q 2020                                             1420.0         ...

        Finantial Results, net Net (loss) profit before income tax Income tax  \
1Q 2019                 8023.0                             20213.0   -28366.0
4Q 2019               -14974.0                            -18410.0     8054.0
1Q 2020               -10621.0                              5597.0      754.0

        Net (loss) profit for the period  \
1Q 2019                          -8153.0
4Q 2019                         -10356.0
1Q 2020                           6351.0

        Net (loss) profit for shareholders of the parent company  \
1Q 2019                                            -8185.0
4Q 2019                                           -10476.0
1Q 2020                                             6212.0

        Net (loss) profits for noncontrolling interest  \
1Q 2019                                           32.0
4Q 2019                                          120.0
1Q 2020                                          139.0

        Earnings per share, basic and diluted Other comprehensive Income  \
1Q 2019                                -20.86                    56337.0
4Q 2019                                 -26.7                    30249.0
1Q 2020                                 15.83                    43274.0

        Total comprehensive income for the period   Año
1Q 2019                                   48184.0  2020
4Q 2019                                   19893.0  2020
1Q 2020                                   49625.0  2020

[3 rows x 23 columns]
Index(['1Q 2019', '4Q 2019', '1Q 2020'], dtype='object')
----------------------------------------------------------------------------------------------------

Tabla dinámica en la hoja: BS
        BALANCE SHEETS (Amounts expressed in million of Argentine Pesos)   \
43830.0
43921.0

        Noncurrent Assets Intangible assets Properties, plant and equipment  \
43830.0                             37179.0                       1069011.0
43921.0                             39329.0                       1135507.0

        Assets for leasing Investments in companies and joint ventures  \
43830.0            61391.0                                     67590.0
43921.0            62220.0                                     74205.0

        Deferred tax assets, net Other receivables Trade receivables  \
43830.0                   1583.0           11789.0           15325.0
43921.0                   1839.0           12765.0           11334.0

        Total Non-current assets  ... Other taxes payable_1  \
43830.0                1263868.0  ...               11437.0
43921.0                1337199.0  ...               12107.0

        Salaries and social security Liabilities from leasing_1   Loans_1  \
43830.0                      10204.0                    21389.0  107109.0
43921.0                       8429.0                    22356.0  180047.0

        Other liabilities_1 Accounts payable_1 Total Current Liabilities  \
43830.0              1310.0           148595.0                  314872.0
43921.0              1376.0           135394.0                  375162.0

        Total Liabilities Total Liabilities and Shareholders’ Equity   Año
43830.0         1025190.0                                  1573289.0  2020
43921.0         1063109.0                                  1660977.0  2020

[2 rows x 50 columns]
Index([43830.0, 43921.0], dtype='object')
----------------------------------------------------------------------------------------------------

Tabla dinámica en la hoja: CF
        CASH FLOW (Amounts expressed in million of Argentine Pesos)   \
1Q 2019
4Q 2019
1Q 2020

        Operating activities Net income   \
1Q 2019                          -8153.0
4Q 2019                         -10356.0
1Q 2020                           6351.0

        Income of interests in companies and joint ventures  \
1Q 2019                                            -1559.0
4Q 2019                                            -4750.0
1Q 2020                                            -1420.0

        Depreciation of property, plant and equipment  \
1Q 2019                                       28048.0
4Q 2019                                       46674.0
1Q 2020                                       43636.0

        Depreciation of the right-of-use assets  \
1Q 2019                             2019.869513
4Q 2019                                  3307.0
1Q 2020                                  4752.0

        Amortization of intangible assets  \
1Q 2019                             483.0
4Q 2019                             709.0
1Q 2020                             669.0

        Losses of property, plant and equipment and intangible assets and consumption of materials  \
1Q 2019                                             4297.0
4Q 2019                                             4674.0
1Q 2020                                             4737.0

        Income tax charge Net increase in provisions  ...  \
1Q 2019           28366.0                     3213.0  ...
4Q 2019           -8054.0                    11999.0  ...
1Q 2020            -754.0                     3862.0  ...

        Effect of changes in exchange rates on cash and equivalents  \
1Q 2019                                             5137.0
4Q 2019                                             1234.0
1Q 2020                                             4247.0

        Increase (decrease) in Cash and Equivalents  \
1Q 2019                                10570.869513
4Q 2019                                     13771.0
1Q 2020                                      3032.0

        Cash and equivalents at the beginning of the period  \
1Q 2019                                            46028.0
4Q 2019                                            52329.0
1Q 2020                                            66100.0

        Cash and equivalents at the end of the period  \
1Q 2019                                       56599.0
4Q 2019                                       66100.0
1Q 2020                                       69132.0

        Increase (decrease) in Cash and Equivalents_1  \
1Q 2019                                       10571.0
4Q 2019                                       13771.0
1Q 2020                                        3032.0

        COMPONENTS OF CASH AND EQUIVALENT AT THE END OF THE PERIOD     Cash  \
1Q 2019                                                              5676.0
4Q 2019                                                              6983.0
1Q 2020                                                              6429.0

            Other Financial Assets  \
1Q 2019                    50923.0
4Q 2019                    59117.0
1Q 2020                    62703.0

        TOTAL CASH AND EQUIVALENTS AT THE END OF THE PERIOD   Año
1Q 2019                                            56599.0   2020
4Q 2019                                            66100.0   2020
1Q 2020                                            69132.0   2020

[3 rows x 53 columns]
Index(['1Q 2019', '4Q 2019', '1Q 2020'], dtype='object')
----------------------------------------------------------------------------------------------------

Tabla dinámica en la hoja: Segment
                    Q1 2020  Revenues Revenues from intersegment sales  \
                   Upstream     824.0                          80005.0
                Gas & Power   27598.0                           1679.0
                 Downstream  143876.0                            857.0
        Corporate and Other    4204.0                           6675.0
  Consolidation Adjustments   -1832.0                         -89216.0

 Revenues_1 Operating Income (loss) Investments in companies  \
    80829.0                   664.0                      0.0
    29277.0                 -1100.0                    937.0
   144733.0                  4133.0                    483.0
    10879.0                 -3452.0                      0.0
   -91048.0                 14553.0                      0.0

 Depreciation of property, plant and equipment Acquisitions of fixed assets  \
                                       35195.0                      29274.0
                                         405.0                        847.0
                                        6999.0                       5201.0
                                        1037.0                       1424.0
                                           0.0                          0.0

    Assets                    Q1 2019 Revenues_2  \
  783821.0                   Upstream      321.0
  206774.0                Gas & Power    20043.0
  530437.0                 Downstream   108365.0
  131802.0        Corporate and Other     3408.0
    8143.0  Consolidation Adjustments    -1230.0

 Revenues from intersegment sales_1 Revenues_3 Operating Income (loss)_1  \
                            55224.0    55545.0                   -1663.0
                             1745.0    21788.0                    -234.0
                              572.0   108937.0                   13283.0
                             4816.0     8224.0                   -2056.0
                           -62357.0   -63587.0                    1301.0

 Investments in companies_1 Depreciation of property, plant and equipment_1  \
                        0.0                                         23125.0
                     1442.0                                           269.0
                      117.0                                          4027.0
                        0.0                                           627.0
                        0.0                                             0.0

 Acquisitions of fixed assets_1  Assets_1   Año
                        24804.0  572482.0  2020
                         1177.0  145013.0  2020
                         3568.0  352457.0  2020
                          828.0   98021.0  2020
                            0.0   -5411.0  2020
Index(['', '', '', '', '', ''], dtype='object')
----------------------------------------------------------------------------------------------------

Tabla dinámica en la hoja: Volumes
        Production Crude oil production NGL production Gas production  \
1Q 2019                    20376.298967    3752.734587    3125.699018
4Q 2019                    20884.179267    4079.116925    3708.129773
1Q 2020                        20487.63        4090.18        3475.84

        Total production  Brent  Henry Hub  Prices in domestic market  \
1Q 2019     43787.648534   63.17      3.149
4Q 2019     48284.910933   63.41   2.498333
1Q 2020         46438.59  59.655      1.952

        Crude oil\n Average gas price  ...  \
1Q 2019   53.034848              3.69  ...
4Q 2019   48.105074              2.99  ...
1Q 2020   48.545191              2.76  ...

        Total sales of petrochemical products Sales of other products  \
1Q 2019                                 288.0
4Q 2019                                 396.0
1Q 2020                                 317.0

        Grain, flours and oils Domestic market_2 Export market_2  \
1Q 2019                                     43.0           199.0
4Q 2019                                     66.0           266.0
1Q 2020                                     33.0           205.0

        Total Grain, flours and oils Main imported products  \
1Q 2019                        242.0
4Q 2019                        332.0
1Q 2020                        238.0

        Gasolines and Jet Fuel    Diesel_2   Año
1Q 2019                118.435  136.152603  2020
4Q 2019              42.039519      69.963  2020
1Q 2020                 50.807     82.9483  2020

[3 rows x 50 columns]
Index(['1Q 2019', '4Q 2019', '1Q 2020'], dtype='object')
----------------------------------------------------------------------------------------------------

<h1>Fichero Inversiones</h1>

In [13]:
## Extraemos la tabla estatica de inversiones por empresa por año.

# r.conversion_de_tablas_dinamicas('../data/raw/TD Inversiones_2024.xlsx', 3, 12, 'A', 2024)
# r.conversion_de_tablas_dinamicas('../data/raw/TD Inversiones_2023.xlsx', 3, 12, 'A', 2023)
# r.conversion_de_tablas_dinamicas('../data/raw/TD Inversiones_2022.xlsx', 3, 12, 'A', 2022)
# r.conversion_de_tablas_dinamicas('../data/raw/TD Inversiones_2021.xlsx', 3, 14, 'A', 2021)
# r.conversion_de_tablas_dinamicas('../data/raw/td_2057_2020.xlsx', 3, 12, 'A', 2020)

<h1>Fichero Reservas</h1>

In [27]:
file_path = '../data/raw/reservas al 31-12-2022.xlsx'  # path del fichero.xlsx
workbook = openpyxl.load_workbook(file_path, data_only=True) # instancio la carga del fichero en una variable

# Iterar sobre cada hoja del archivo
for idx, sheet_name in enumerate(workbook.sheetnames, start=1): # itero sobre cada hoja tomando como referencia las etiquetas de cada una con el metodo sheetnames
    
    if idx != 2:  # Solo procesar la segunda hoja
        continue

    sheet = workbook[sheet_name] # instancio la hoja
    
    # Identificar la tabla dinámica (puedes ajustar este criterio según tu necesidad)
    # Aquí asumimos que la tabla dinámica empieza en la fila 12 y columna A (cambiar según sea necesario)
    pivot_start_row = 7
    pivot_start_col = 'A'
    
    # Extraer la tabla dinámica
    pivot_data = []
    for row in sheet.iter_rows(min_row=pivot_start_row, min_col=openpyxl.utils.cell.column_index_from_string(pivot_start_col), values_only=True):
        pivot_data.append(row)

    columnas = list(pivot_data[0])
    new_columns = []
    num = 1
    for idx, columna in enumerate(columnas):
        if idx >= 21:
            if idx == 21:
                temp = 'reserv_comp_pet_' + columna
            elif idx == 22:
                temp = 'reserv_comp_gas_' + columna
            elif idx == 23:
                temp = 'reserv_prob_pet_' + columna
            elif idx == 24:
                temp = 'reserv_prob_gas_' + columna
            elif idx == 25:
                temp = 'reserv_pos_pet_' + columna
            elif idx == 26:
                temp = 'reserv_pos_gas_' + columna
            elif idx == 27:
                temp = 'recur_cont_pet_' + columna
            elif idx == 28:
                temp = 'recur_cont_gas_' + columna
            new_columns.append(temp)
        elif idx > 4 and idx < 21:
            temp = str(num) + columna
            num += 1
            new_columns.append(temp)
        else:
            new_columns.append(columna)

    print(columnas)
    print(len(columnas))
    print(new_columns)
    print(new_columns[5:21])
    
    # Convertir a DataFrame de pandas
    pivot_df = pd.DataFrame(pivot_data[1:], columns = new_columns)
    pivot_df.drop(columns= pivot_df.columns[5:21], inplace= True)
    pivot_df.drop(index= [1256,1257], inplace= True)

    archivo= f'../data/raw/reservas_{sheet_name}_2023.parquet'
    pq.write_table(pa.Table.from_pandas(pivot_df), archivo)

['OPERADOR', 'CUENCA', 'PROVINCIA', 'CONCESIÓN O PERMISO', 'YACIMIENTO', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)', '(Mm3)', '(MMm3)']
29
['OPERADOR', 'CUENCA', 'PROVINCIA', 'CONCESIÓN O PERMISO', 'YACIMIENTO', '1(Mm3)', '2(MMm3)', '3(Mm3)', '4(MMm3)', '5(Mm3)', '6(MMm3)', '7(Mm3)', '8(MMm3)', '9(Mm3)', '10(MMm3)', '11(Mm3)', '12(MMm3)', '13(Mm3)', '14(MMm3)', '15(Mm3)', '16(MMm3)', 'reserv_comp_pet_(Mm3)', 'reserv_comp_gas_(MMm3)', 'reserv_prob_pet_(Mm3)', 'reserv_prob_gas_(MMm3)', 'reserv_pos_pet_(Mm3)', 'reserv_pos_gas_(MMm3)', 'recur_cont_pet_(Mm3)', 'recur_cont_gas_(MMm3)']
['1(Mm3)', '2(MMm3)', '3(Mm3)', '4(MMm3)', '5(Mm3)', '6(MMm3)', '7(Mm3)', '8(MMm3)', '9(Mm3)', '10(MMm3)', '11(Mm3)', '12(MMm3)', '13(Mm3)', '14(MMm3)', '15(Mm3)', '16(MMm3)']

<h1>Ficheros World</h1>

In [14]:
r.extraccion_de_tablas('../data/raw/world-oil-domestic-consumption-statistics.xlsx',1,6,'B',66,'AL','world_oil_domestic_consumption')

Nombre de dataframe: Yearbook world_oil_domestic_consumption

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2016,2017,2018,2019,2020,2021,2022,2023,2022 - 2023 (%),2000 - 2023 (%/year)
World,3043.741867,3069.187186,3087.126637,3094.659766,3120.551918,3179.060993,3263.624464,3380.005935,3433.639666,3501.026212,...,4185.520965,4261.567139,4279.847861,4302.964561,3906.362046,4125.900613,4238.887789,4341.656373,2.424423,0.894809
OECD,1809.645174,1821.628400,1857.684113,1872.818439,1923.526550,1938.964355,1987.553193,2046.321643,2067.011761,2092.307852,...,1846.398343,1849.201798,1840.615587,1833.638476,1647.707862,1736.390769,1761.285843,1750.129255,-0.633434,-0.741383
G7,1388.415985,1383.605398,1404.570017,1410.907692,1437.864422,1441.352272,1474.524790,1520.560681,1545.268947,1564.034256,...,1295.196293,1292.605507,1294.893154,1283.115333,1142.230957,1209.588853,1226.670956,1222.737425,-0.320667,-1.005466
BRICS,438.180259,458.694569,448.449735,445.919190,412.603042,427.668618,446.096686,469.965537,479.340148,500.221374,...,989.538550,1035.355897,1070.905679,1101.218022,1087.955661,1157.379574,1191.242783,1268.916776,6.520417,3.844834
Europe,649.537072,656.107992,653.690981,648.273656,651.586698,663.333181,681.269342,681.144097,690.326849,680.869987,...,573.793957,583.951787,572.653904,570.165090,520.627810,544.698777,546.309919,534.576845,-2.147695,-0.959687
European Union,524.257072,532.169992,531.645981,524.023656,529.643698,539.598181,551.666342,553.787097,565.434849,556.517099,...,447.104056,454.749761,446.944190,446.347753,407.285635,426.315525,426.906919,414.732215,-2.851840,-1.175154
Belgium,17.596700,19.187800,19.641100,19.167800,21.557100,21.454300,22.874100,22.890200,22.922700,22.564100,...,20.909522,20.227052,20.371082,19.378545,17.617904,18.871734,17.740842,17.520138,-1.244044,-1.095860
Czechia,8.746000,7.297000,7.819000,7.400000,7.508000,7.794000,8.047000,7.765000,8.114000,7.999000,...,7.774000,9.146000,9.208000,9.272000,8.368000,9.187000,9.284000,9.000392,-3.054805,0.658097
Denmark,7.395000,7.716000,7.497000,7.610000,7.955000,8.392000,9.324000,8.962000,8.592000,8.556000,...,5.717927,5.703709,5.711280,5.560163,5.248605,5.349797,5.453007,5.429340,-0.434020,-1.798005
France,80.382000,85.928000,85.288000,82.516000,81.843000,84.092000,85.248000,85.402000,89.012000,88.085000,...,69.595293,70.241979,67.391694,66.943269,59.450760,63.855164,62.219591,61.583451,-1.022411,-1.459780
Germany,119.231000,126.954000,128.031000,129.566000,127.896000,127.846000,129.935000,128.571000,128.698000,124.161000,...,96.914000,98.580000,93.162000,94.796000,89.960000,87.387000,86.645000,81.507097,-5.929833,-1.624994
Italy,88.028000,86.939000,89.259000,88.383000,87.335000,90.616000,89.916000,90.212000,90.063000,87.827000,...,52.076000,51.567726,51.813485,50.847251,43.353434,49.278611,52.001038,51.378324,-1.197503,-2.211491
Netherlands,21.776241,21.444889,21.841035,21.476347,22.336926,23.074188,23.677440,23.615308,23.599582,23.725865,...,24.019153,24.626647,24.425310,23.645745,22.860773,22.972551,21.557506,19.718238,-8.531914,-0.751912
Poland,12.885000,12.574000,12.867000,13.569000,14.000000,14.457000,16.458000,17.710000,18.260000,18.881000,...,25.319000,28.383133,28.894769,29.487185,28.518136,29.905963,30.695672,30.477498,-0.710764,2.173635
Portugal,10.940000,10.995000,12.351000,11.652000,11.776000,12.873000,12.267000,13.163000,14.783000,15.031000,...,9.039000,9.151641,8.596590,9.057529,8.092901,8.278390,8.578592,7.752363,-9.631294,-2.732093
Romania,17.032000,14.336000,11.867000,11.106000,10.986000,11.101000,12.810000,13.139000,11.480000,9.533000,...,8.994000,9.413771,9.558692,9.942630,9.716923,10.136339,10.473397,10.703990,2.201701,0.417900
Spain,43.647000,46.240000,47.850000,45.610000,49.125000,52.027000,50.844000,53.203000,57.084000,59.152000,...,49.491000,49.867000,50.516000,50.013000,42.975000,46.643861,47.973263,46.376226,-3.329016,-1.171630
Sweden,14.668000,14.643000,15.844000,15.524000,16.555000,16.448000,17.763000,16.462000,16.575000,16.279000,...,10.315960,10.168243,9.068992,9.083188,8.296630,9.341947,8.295282,8.595770,3.622396,-2.347053
United Kingdom,73.930000,74.747000,74.429000,74.145000,73.316000,71.846000,73.704000,71.718000,69.945000,70.485000,...,58.823000,59.184586,58.005628,56.086157,47.153866,49.570769,49.807377,49.131499,-1.356983,-1.423827
Norway,8.050000,7.667000,7.552000,7.747000,7.927000,8.262000,8.812000,8.653000,8.750000,8.810888,...,9.063340,9.000520,9.175601,8.806738,8.474968,8.694432,8.577766,8.620233,0.495079,0.179626
Turkiye,22.432000,21.807000,23.090000,26.490000,25.256000,28.289000,29.598000,29.020000,28.687000,28.354000,...,40.679000,43.053000,40.965737,41.314705,41.575496,42.871347,43.667623,45.325660,3.796947,1.849421
CIS,371.872000,373.952000,309.702721,260.805858,204.923387,193.163900,173.033409,167.663953,164.600444,160.726950,...,175.704589,182.823087,200.905132,201.526518,200.410672,212.450668,210.231477,217.673907,3.540112,1.269264
Azerbaijan,7.705000,7.518000,10.274941,9.903939,7.284959,6.539980,5.718943,5.179953,5.766944,5.432950,...,4.287900,4.625000,4.673600,4.812000,4.342200,4.888000,5.210202,5.316436,2.038959,-0.545368
Kazakhstan,19.167000,22.438000,20.527000,16.223942,11.704940,10.494958,9.379000,7.985000,8.423000,6.787000,...,13.101700,13.972200,12.732400,11.803588,13.670954,15.232257,16.374362,18.097543,10.523655,4.472823
Russia,213.740000,221.120000,196.434000,173.530000,134.972000,127.446000,119.871000,114.910000,112.485000,116.143000,...,126.099000,132.900530,150.322600,152.281822,150.260964,159.109267,156.746740,161.057276,2.750000,1.328580
Uzbekistan,10.956000,10.405000,8.706780,8.018976,7.241488,6.322962,6.099465,6.714000,6.710500,6.480000,...,3.565989,3.580931,3.799857,3.966398,4.185391,4.151653,4.336381,4.584858,5.730068,-1.378997
America,1020.948882,1005.224601,1026.990450,1043.908903,1080.310864,1079.113924,1117.415757,1184.214645,1223.936293,1244.000348,...,1200.042662,1189.450864,1190.335060,1187.536753,1043.647807,1120.887879,1157.497933,1176.123831,1.609152,-0.238593
North America,807.214985,787.410398,802.361017,812.443692,834.962422,829.818272,858.498790,908.876681,936.762947,956.381256,...,849.446000,846.642428,864.583920,859.560980,759.036595,815.380975,834.627020,843.787692,1.097577,-0.516724
Canada,75.221985,71.662398,73.499017,74.361692,75.945422,76.574272,79.073790,82.067681,82.400947,84.850256,...,102.045000,101.424898,103.155669,103.916471,90.954141,92.642961,98.581923,99.079312,0.504544,0.691021
United States,731.993000,715.748000,728.862000,738.082000,759.017000,753.244000,779.425000,826.809000,854.362000,871.531000,...,747.401000,745.217530,761.428251,755.644509,668.082454,722.738014,736.045096,744.708380,1.177004,-0.653896
Latin America,213.733896,217.814203,224.629433,231.465211,245.348442,249.295652,258.916967,275.337964,287.173346,287.619092,...,350.596662,342.808436,325.751140,327.975773,284.611212,305.506904,322.870913,332.336138,2.931582,0.564367
Argentina,19.568496,18.851714,20.814935,21.365717,21.797126,21.516502,21.442425,21.059718,22.287925,22.658993,...,29.760000,28.304000,26.000000,25.056000,24.552746,27.229997,27.610231,28.115948,1.831628,0.944719
Brazil,56.798674,57.700971,59.439751,61.631007,65.282276,68.719880,74.588935,80.151463,84.021629,86.192954,...,110.542394,111.928533,105.147726,106.404796,100.930762,108.384470,112.252095,117.559717,4.728305,1.296245
Chile,6.214000,6.540000,7.085000,7.661000,8.321000,9.012000,9.952000,10.473000,10.644000,10.881000,...,15.323000,15.437006,15.651126,15.471171,14.523294,15.676475,16.565474,16.021266,-3.285194,2.173726
Colombia,8.146417,8.309382,9.663106,9.639392,9.926562,11.924701,12.231261,12.808865,12.037465,10.896608,...,17.185847,14.927149,14.501758,14.309857,12.264480,15.806519,16.912463,16.757525,-0.916117,1.807205
Mexico,68.666000,74.062000,74.288000,77.152000,84.413000,77.193000,78.229000,80.913000,85.347000,84.065000,...,86.028000,84.133000,77.520929,82.121564,68.204229,68.126079,74.602161,74.294344,-0.412612,-0.736972
Asia,560.349531,587.458951,624.135445,663.131288,684.840919,729.725936,763.366327,801.051933,784.615043,822.674103,...,1300.536395,1350.095276,1358.137569,1378.003355,1342.489794,1402.557783,1418.166441,1479.013642,4.290554,2.413956
China,102.386931,111.748912,120.302852,138.845449,134.699449,149.829813,161.577734,180.923852,183.025000,193.260000,...,527.669120,552.437350,569.934800,593.903300,612.310780,648.477140,657.577811,712.736358,8.388140,5.565113
India,52.867836,55.577939,58.848938,59.935738,63.596627,66.103925,74.553016,78.976222,82.600520,87.549420,...,200.188839,210.537236,218.764553,221.528917,201.919370,217.257686,240.227032,252.588306,5.145663,3.915532
Indonesia,32.244794,33.788156,36.659622,39.425927,39.713824,41.871698,44.056546,45.966059,47.011823,47.659684,...,66.537010,71.442678,70.992247,67.202615,62.330240,60.718782,67.610686,67.850589,0.354830,0.998811
Japan,219.630000,221.627000,225.202000,223.854000,232.512000,237.134000,237.223000,235.781000,230.788000,237.095000,...,168.342000,166.388788,159.936427,154.881676,143.276302,144.116334,141.370931,135.349362,-4.259411,-2.328071
Malaysia,12.916000,13.867000,14.678000,16.117000,16.699000,18.930000,19.901000,22.614000,19.613000,23.661000,...,27.696800,28.307600,27.237200,29.126185,23.509989,22.452019,27.152977,30.400389,11.959689,1.465671
South Korea,48.315000,57.653000,69.326000,75.552000,81.151000,87.999000,90.760000,96.762000,79.445000,86.699000,...,102.113000,102.810978,99.855133,101.804659,96.458497,101.014841,99.687176,95.202636,-4.498613,0.268727
Singapore,11.586000,11.913000,11.698000,12.769000,12.681000,12.923000,13.711000,15.292000,14.869000,14.974000,...,13.458093,19.349870,14.308657,13.406191,12.443540,13.184934,13.442275,12.809991,-4.703694,-0.853889
Taiwan,27.980000,29.191000,29.669000,31.756000,33.382000,36.179000,36.116000,36.654000,37.836000,39.757000,...,46.420000,45.833017,45.544584,42.629921,42.042060,43.929755,39.925488,36.629412,-8.255568,-0.482448
Thailand,17.614000,18.564000,20.346000,24.066000,26.793000,30.395000,33.181000,33.049000,29.651000,31.172000,...,51.835200,52.008745,52.920249,53.207214,53.584140,52.555715,52.095713,51.768403,-0.628287,2.430391
Vietnam,2.679000,2.579000,3.006000,4.034000,4.348000,4.421000,5.157000,5.587000,6.376000,6.910000,...,20.483200,19.902400,21.521700,22.175600,21.062792,18.933276,22.541909,21.803007,-3.277901,4.641717
Pacific,36.221383,35.551565,35.722924,36.457567,37.564485,38.943923,40.199892,40.511979,40.982852,41.571032,...,54.904283,55.759044,57.381069,57.508841,54.051693,53.965408,54.595778,57.790365,5.851345,1.296016
Australia,31.087000,30.517000,30.353000,31.081000,31.885000,33.029000,34.231000,34.353000,34.784000,35.233000,...,45.939000,46.525541,47.785795,47.684756,45.246093,45.013302,45.570259,48.511612,6.454546,1.267090
New Zealand,4.149000,4.040000,4.366000,4.359000,4.721000,4.929000,4.950000,5.085000,5.063000,5.189000,...,6.477000,6.730449,6.780808,7.039403,6.222279,6.359973,6.343895,6.440217,1.518354,0.761572
Africa,75.807729,78.940065,82.850215,81.381654,82.873015,86.807501,87.886372,94.374449,99.818518,103.215174,...,180.148612,181.490313,183.182940,186.948319,164.683829,179.371692,185.283469,183.305695,-1.067431,2.438617
Algeria,8.072359,8.484124,9.088171,8.416735,7.718124,7.424628,7.293715,7.050110,7.524064,7.922344,...,17.547000,17.127000,17.501200,18.000300,15.688851,15.886795,16.197424,16.755516,3.445556,2.457695
Egypt,17.445000,17.841000,17.786000,18.773000,18.130000,18.988000,18.158000,23.294000,26.516000,26.317000,...,39.509000,36.920700,35.700000,35.084252,28.182004,31.644216,34.607623,33.803436,-2.323727,1.164131
Nigeria,7.086000,8.516000,10.358000,9.012000,7.156000,8.005000,9.236000,9.711000,8.523000,8.817000,...,18.278000,18.330375,19.343384,20.489279,18.112595,20.457349,20.883170,19.567158,-6.301781,3.114210
South Africa,12.386817,12.546748,13.424194,11.976997,14.052691,15.569000,15.506000,15.004000,17.208000,17.076000,...,25.039197,27.552248,26.736000,27.099187,22.533786,24.151011,24.439105,24.975119,2.193265,1.687048
Middle-East,134.829756,145.002012,156.129057,163.010854,173.693778,173.606780,171.135163,175.557021,182.242260,187.116879,...,309.596316,307.808290,303.550635,309.910719,283.612054,299.983042,316.448517,324.269265,2.471413,2.277105
Iran,45.632988,48.468012,52.658057,52.669000,57.007996,56.078992,59.181988,60.326980,59.468024,60.806000,...,73.662417,78.800479,77.280431,76.053753,69.646167,73.159508,73.806717,74.682545,1.186651,0.759287
Kuwait,4.728768,4.046000,3.814000,5.196854,6.301782,7.110788,6.895795,7.664792,9.048000,9.711000,...,16.809000,15.772433,16.178566,15.828016,12.129085,15.949196,16.356293,16.046034,-1.896879,2.898428
Saudi Arabia,36.509000,45.582000,48.388000,49.765000,52.697000,51.322000,44.440000,46.412000,48.897000,51.201000,...,136.986199,124.388498,119.983470,128.599318,121.554660,129.210960,138.495930,143.551060,3.650021,4.414119
United Arab Emirates,5.456000,5.561000,5.792000,6.510000,6.485000,6.045000,6.144381,5.745249,6.590236,6.275879,...,18.984700,20.361430,20.125400,18.863985,17.388761,18.506969,19.344755,19.883669,2.785837,4.976690

In [15]:
r.extraccion_de_tablas('../data/raw/world-production-statistics.xlsx',1,6,'B',66,'AL','world_production')

Nombre de dataframe: Yearbook world_production

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2016,2017,2018,2019,2020,2021,2022,2023,2022 - 2023 (%),2000 - 2023 (%/year)
World,3193.320561,3179.009174,3196.753465,3219.257661,3258.272984,3304.865128,3390.656128,3489.667631,3585.863119,3565.893348,...,4424.740376,4418.424144,4519.569681,4513.254638,4204.670854,4250.560486,4463.235350,4506.154712,0.961620,0.907782
OECD,921.192000,941.621000,957.725000,965.983000,1002.783568,1020.930589,1050.194999,1067.273000,1069.106000,1044.668000,...,1135.693599,1171.691294,1279.016946,1355.993213,1310.691296,1323.403553,1366.735490,1440.273894,5.380588,1.339654
G7,614.936000,614.908000,617.213000,616.906000,639.103000,644.329000,646.273000,648.549000,648.193000,632.092000,...,830.975000,882.966673,1003.026119,1089.225590,1034.581487,1044.641806,1092.125178,1156.660061,5.909110,2.702960
BRICS,729.221000,675.574000,602.433000,560.052000,531.741000,526.246000,539.684000,546.475000,550.502000,557.541000,...,928.294200,923.773100,927.101800,942.367727,907.825956,914.363083,940.493948,955.630399,1.609415,2.143011
Europe,220.890000,231.290900,247.183600,260.110600,301.844700,314.946900,332.485800,330.975200,327.839900,333.831300,...,170.773327,168.869480,167.624551,163.621256,172.772462,165.419220,155.201697,157.690732,1.603743,-3.277501
European Union,40.347000,39.193900,39.061600,38.932600,40.555700,39.775900,39.530800,40.517200,39.752900,40.914300,...,27.607285,27.795309,27.368156,25.772527,24.450742,23.046937,21.005116,20.987819,-0.082346,-3.210813
Belgium,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.033500,0.053400,0.050600,0.039000,0.036500,0.041845,14.643008,NaN
Czechia,0.220000,0.221000,0.237000,0.257000,0.270000,0.276000,0.251000,0.463000,0.433000,0.386000,...,0.187000,0.213000,0.199000,0.163000,0.095000,0.087000,0.078000,0.070000,-10.256410,-7.143926
Denmark,5.994000,6.993000,7.756000,8.265000,9.118000,9.170000,10.122000,11.145000,11.432000,14.465000,...,6.924374,6.736967,5.665787,5.017234,3.520207,3.236752,3.184860,2.922014,-8.252984,-7.551004
France,3.470000,3.798000,3.564000,3.458000,3.387000,3.027000,2.648000,2.266000,2.092000,2.001000,...,0.992000,0.964000,0.912907,0.964135,0.818663,0.864083,0.811973,0.842182,3.720406,-3.491045
Germany,5.288000,4.511000,4.298000,4.090000,3.909000,3.852000,3.733000,3.708000,3.825000,3.790000,...,3.701000,3.661000,3.640000,3.348000,3.235000,3.066000,2.936000,2.845647,-3.077417,-1.819394
Italy,4.723000,4.489000,4.705000,4.819000,5.033000,5.454000,5.655000,6.094000,5.819000,5.216000,...,4.066000,4.498000,5.143959,4.764553,5.909556,5.261127,4.857456,5.439066,11.973558,0.577836
Netherlands,4.076000,3.933000,3.563000,3.535000,4.618000,3.648000,3.252000,3.144000,2.854000,2.761000,...,1.568894,1.470035,1.479508,1.112192,1.040323,1.115703,0.713036,0.649033,-8.976157,-5.804707
Poland,0.178000,0.173000,0.218000,0.256000,0.326000,0.365000,0.394000,0.403000,0.556000,0.615000,...,1.601000,1.581141,1.652761,1.586746,1.493728,1.380544,1.218871,1.154607,-5.272453,1.098797
Portugal,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.064000,0.070827,0.065380,0.065668,0.054927,0.049184,0.015050,0.027880,85.246611,NaN
Romania,7.929000,6.791000,6.827000,6.931000,6.974000,7.040000,6.965000,6.855000,6.724000,6.435000,...,3.913000,3.730807,3.673964,3.680282,3.574372,3.390781,3.202061,3.060522,-4.420243,-3.116220
Spain,1.144000,1.422000,1.402000,1.102000,0.948000,0.783000,0.512000,0.371000,0.529000,0.299000,...,0.141000,0.120000,0.087000,0.040000,0.028000,0.005816,0.000912,0.000672,-26.315789,-22.364848
Sweden,0.003000,0.002000,0.001000,0.000000,0.005000,0.004000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.184000,0.271877,0.164906,0.061193,0.061193,0.000000,NaN
United Kingdom,92.518000,92.033000,95.227000,101.085000,127.504000,131.566000,131.138000,129.162000,133.753000,139.333000,...,47.885000,47.052953,51.240091,52.866590,49.372350,41.186381,38.058885,33.774208,-11.258022,-5.687593
Norway,82.088000,93.716000,106.862000,114.471000,128.514000,138.500000,156.804000,156.502000,149.826000,149.350000,...,90.189042,89.057400,83.783500,79.142956,93.259807,95.156117,90.149886,95.879934,6.356135,-2.228046
Turkiye,3.712000,4.364000,4.276000,3.892000,3.696000,3.516000,3.500000,3.449000,3.223000,2.941000,...,3.035000,3.045000,3.368000,3.913000,4.028626,4.434883,4.460835,5.104968,14.439734,2.706674
CIS,576.830000,524.096000,448.743000,399.518000,364.220000,352.470000,355.462000,358.707000,360.288000,369.044000,...,691.011407,693.697171,707.666522,712.484422,659.712283,669.449148,680.494349,677.908291,-0.380026,2.407586
Azerbaijan,12.513000,11.742000,11.954000,10.619000,9.818000,9.377000,9.310000,9.271000,11.601000,13.963000,...,41.088000,38.720400,38.814300,37.501200,34.531900,34.580300,32.646400,30.168191,-7.591062,3.341636
Kazakhstan,25.820000,26.591000,24.057000,21.417000,21.294000,20.532000,22.960000,25.778000,25.945000,30.130000,...,78.032000,86.195000,90.359500,90.555400,85.656100,87.445709,86.229400,92.109062,6.818628,4.255940
Russia,523.679000,469.569000,397.633000,352.887000,317.576000,305.107000,305.107000,303.886000,301.405000,303.239000,...,552.894000,550.360000,560.326600,565.765627,521.061500,529.002662,543.529051,535.401514,-1.495327,2.239591
Uzbekistan,2.800000,2.832000,3.293000,3.944000,5.500000,7.456000,7.496000,7.770000,7.987000,8.119000,...,2.746407,2.905624,3.035885,3.155889,2.908080,3.086031,3.052199,2.895227,-5.142912,-4.058971
America,886.291561,906.548102,911.527968,918.076205,927.978073,946.113230,976.473159,1004.935630,1019.461888,991.163433,...,1279.583116,1304.084652,1383.332866,1447.776724,1374.802561,1390.314439,1466.127260,1568.788694,7.002218,1.941968
North America,505.295000,505.249000,504.195000,497.694000,492.837000,493.961000,496.420000,500.272000,494.915000,474.474000,...,769.215000,821.941992,937.085182,1022.678085,970.783727,989.427543,1040.679530,1109.005862,6.565550,3.724572
Canada,91.951000,92.351000,96.719000,101.658000,105.751000,110.699000,113.931000,119.420000,125.130000,120.298000,...,223.976000,246.719000,265.145000,274.904553,263.486943,277.863933,284.851829,288.762936,1.373032,3.698503
United States,413.344000,412.898000,407.476000,396.036000,387.086000,383.262000,382.489000,380.852000,369.785000,354.176000,...,545.239000,575.222992,671.940182,747.773532,707.296784,711.563610,755.827701,820.242925,8.522475,3.733787
Latin America,380.996561,401.299102,407.332968,420.382205,435.141073,452.152230,480.053159,504.663630,524.546888,516.689433,...,510.368116,482.142660,446.247684,425.098639,404.018834,400.886896,425.447730,459.782832,8.070346,-0.613682
Argentina,25.904000,26.391000,29.690000,31.648000,35.209000,37.147000,41.599000,44.235000,43.661000,42.538000,...,29.918000,28.201000,29.140000,30.375000,29.018354,30.739000,34.142000,37.334281,9.350010,-0.416200
Brazil,32.256000,31.893000,32.361000,33.354000,34.759000,35.802000,40.307000,43.759000,50.625000,56.966000,...,134.552000,140.735000,138.230000,148.580000,157.235000,152.692465,159.013974,177.814942,11.823469,4.491716
Chile,1.102000,1.005000,0.866000,0.850000,0.840000,0.635000,0.564000,0.441000,0.422000,0.419000,...,0.244000,0.323655,0.377700,0.474515,0.362611,0.345478,0.377957,0.412043,9.018568,0.150881
Colombia,22.307000,22.112000,22.958000,23.690000,23.839568,30.526590,32.718999,33.969000,37.450000,39.639000,...,47.435272,45.683530,46.262674,46.904472,41.581135,39.292753,40.248812,41.613385,3.390344,0.686314
Mexico,150.842000,158.036000,158.366000,159.192000,158.515000,154.439000,160.987000,169.365000,172.866000,166.905000,...,120.546000,109.029000,102.170000,94.872000,94.609000,95.474000,95.882000,98.480379,2.709976,-2.328413
Asia,298.027000,312.330000,310.827000,312.232000,322.275000,330.394000,339.810000,349.798000,358.301000,355.143000,...,381.081593,371.811417,364.752025,358.270747,352.913941,355.348423,347.545740,354.427584,1.980126,0.059626
China,138.306000,140.992000,142.097000,145.237000,146.082000,150.044000,157.334000,160.741000,161.000000,160.000000,...,199.685200,191.506100,189.324200,191.014100,194.768600,198.881100,204.722103,209.026105,2.102363,1.087211
India,34.980000,33.120000,30.342000,28.574000,33.324000,34.900000,36.543000,37.293000,36.533000,36.502000,...,41.096000,41.077000,39.132000,36.932000,34.706000,33.742000,33.162642,33.327366,0.496714,-0.385317
Indonesia,73.832000,82.780000,78.656000,77.712000,78.377000,78.507000,77.466000,77.580000,79.888000,76.795000,...,40.824000,42.825000,41.660000,40.190062,42.278800,39.520300,36.752348,36.350679,-1.092908,-2.613746
Japan,3.642000,4.828000,5.224000,5.760000,6.433000,6.469000,6.679000,7.047000,7.789000,7.278000,...,5.116000,4.848728,5.003980,4.604227,4.462191,4.836672,4.781334,4.753097,-0.590577,-1.784042
Malaysia,30.380000,31.094000,31.991000,32.148000,33.489000,35.751000,35.526000,35.032000,38.435000,35.333000,...,35.138000,33.918000,33.846000,31.272570,28.215502,26.228512,23.964188,25.791782,7.626358,-1.122509
South Korea,0.000000,0.000000,0.000000,0.000000,1.277000,1.432000,1.727000,5.615000,5.643000,5.567000,...,10.593000,11.383000,11.800000,11.574477,11.103396,15.377525,15.748419,16.751335,6.368364,4.955655
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taiwan,0.182000,0.110000,0.072000,0.065000,0.069000,0.062000,0.060000,0.051000,0.054000,0.047000,...,0.082000,0.296994,0.311470,0.508621,0.571874,0.763018,0.739043,0.696049,-5.817507,13.608375
Thailand,2.707000,3.125000,3.516000,3.515000,3.564000,3.499000,4.009000,4.789000,4.990000,5.425000,...,19.721000,19.172676,18.686560,18.326178,16.243750,15.093260,12.135124,11.882910,-2.078387,2.351085
Vietnam,2.695000,4.000000,5.520000,6.312000,7.000000,7.620000,8.803000,10.090000,12.510000,15.455000,...,15.507000,13.874000,12.370000,11.434000,9.212000,9.413100,9.288971,8.942445,-3.730512,-2.648844
Pacific,34.534000,35.029000,34.801000,34.701000,33.219417,33.579149,33.760764,33.150688,35.556534,30.377495,...,19.717981,17.152703,16.037316,18.303001,21.704519,19.548488,19.940229,17.475743,-12.359366,-3.276425
Australia,27.493000,27.513000,26.927000,26.654000,25.067000,26.870000,26.366000,26.686000,29.432000,23.657000,...,16.800000,14.529712,13.805355,16.343484,19.789393,17.753720,18.233291,15.782901,-13.439099,-3.036344
New Zealand,2.541000,2.516000,2.574000,2.647000,2.444000,1.980000,2.379000,2.882000,2.303000,2.063000,...,1.752000,1.585000,1.259000,1.283517,1.116126,0.994968,0.871138,0.960342,10.239900,-2.855837
Africa,317.615000,334.088172,334.993897,331.069856,333.719794,343.176849,361.464405,379.730113,381.064797,383.966447,...,367.747300,390.033401,394.607871,405.172149,322.262396,340.758924,328.524400,332.218318,1.124397,-0.635763
Algeria,59.654000,60.078000,57.163000,57.765000,57.824000,59.396000,62.148000,64.380000,66.692000,79.801000,...,68.869000,67.212000,65.808000,64.911000,58.011000,58.764000,62.667464,60.949064,-2.742094,-0.474949
Egypt,45.572000,47.197000,47.826000,47.493000,46.508000,46.583000,45.229000,45.439000,44.641000,43.301000,...,32.304000,34.423000,34.382000,34.321000,32.871000,31.159000,31.549289,31.366859,-0.578237,-1.228142
Nigeria,88.322000,92.144000,95.575000,96.509000,96.216000,97.541000,108.032000,117.458000,111.375000,107.066000,...,91.849000,93.286040,95.741909,100.686711,77.564425,69.079159,60.604205,64.252287,6.019520,-2.505731
South Africa,0.000000,0.000000,0.000000,0.000000,0.000000,0.393000,0.393000,0.796000,0.939000,0.834000,...,0.067000,0.095000,0.089000,0.076000,0.054856,0.044856,0.066178,0.060472,-8.621445,-11.326250
Middle-East,859.133000,835.627000,908.677000,963.550000,975.016000,984.185000,991.200000,1032.371000,1103.351000,1102.367673,...,1514.825651,1472.775321,1485.548531,1407.626338,1300.502691,1309.721844,1465.401676,1397.645349,-4.623737,0.855284
Iran,155.946000,167.619000,173.936000,182.869000,180.949000,183.018000,184.311000,181.116000,182.755000,203.065000,...,213.638000,220.193309,205.419596,146.257180,130.698467,153.165606,162.155120,178.414843,10.027264,-0.743502
Kuwait,61.720000,9.141000,54.881000,97.876000,104.649000,105.636000,105.921000,105.886000,107.956000,99.013000,...,157.781000,145.933170,147.734607,143.767825,132.385500,129.466700,144.011635,137.789689,-4.320447,1.268257
Saudi Arabia,338.820000,430.084000,443.813000,440.799000,436.219000,437.900000,440.188000,440.674000,456.652000,421.598000,...,591.388651,562.791508,579.603474,553.842372,522.734628,515.166191,597.947833,542.365838,-9.295459,0.913924
United Arab Emirates,106.245000,114.299000,109.682000,109.959000,109.957000,108.757000,109.838000,112.593000,115.207000,115.850673,...,190.901000,184.850000,185.966000,189.349200,175.862100,177.157739,199.750802,192.193368,-3.783431,1.957559

<h1>Fichero Ratios YPF</h1>

## <h1>Fichero Ratios Empresas</h1>

In [3]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',1,4,'O',22,'S', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2023         2022         2021         2020
RDT                       0.371629     0.423840     1.620237     0.509360
RDC                       0.499503     0.520497     0.506295     0.589795
RDLP                      0.430882          NaN          NaN          NaN
None                           NaN          NaN          NaN          NaN
Actividad              2023.000000  2022.000000  2021.000000  2020.000000
Rotación de Inv.          6.156490     5.517143     8.199311     7.603312
Rotación de A.T.          0.105788     0.139817     0.833667     0.118638
Rotación de C. por c.     0.000000     0.000000     0.000000     0.000000
None                           NaN          NaN          NaN          NaN
Rentabilidad           2023.000000  2022.000000  2021.000000  2020.000000
Margen de U.N             0.224584     0.242986     0.294222     0.236703
Rent. Sobre los A.        0.105788     0.139817     0.833667     0.118638
Rent Sobre el Pat. N.     0.284095     0.358084     0.527656     0.334889
None                           NaN          NaN          NaN          NaN
Liquidez               2023.000000  2022.000000  2021.000000  2020.000000
Liquidez Corriente        0.784214     0.688051     0.866030     0.908519
Prueba Ácida              0.605744     0.480534     0.674549     0.739957
Liquidez Inmediata        0.361216     0.254556     0.293410     0.367291

In [4]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',2,5,'M',23,'O', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2024         2023
RDT                       0.371457     0.439192
RDC                       0.590981     0.783143
RDLP                      0.305592     0.480528
None                           NaN          NaN
Actividad              2023.000000  2022.000000
Rotación de Inv.          3.135348     1.900585
Rotación de A.T.          0.088641     0.077856
Rotación de C. por c.     0.000000     0.000000
None                           NaN          NaN
Rentabilidad           2023.000000  2022.000000
Margen de U.N             0.114837    -0.068457
Rent. Sobre los A.        0.010179    -0.005330
Rent Sobre el Pat. N.     0.016195    -0.009504
None                           NaN          NaN
Liquidez               2023.000000  2022.000000
Liquidez Corriente        3.010512     3.556884
Prueba Ácida              2.973381     3.492731
Liquidez Inmediata        0.189753     0.055204

In [5]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',3,4,'N',22,'P', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2023         2022
RDT                       0.720474     0.701129
RDC                       2.577485     2.345922
RDLP                      1.418739     1.243674
None                           NaN          NaN
Actividad              2023.000000  2022.000000
Rotación de Inv.          2.049054     1.776171
Rotación de A.T.         -0.000056     0.005866
Rotación de C. por c.     0.000000     1.000000
None                           NaN          NaN
Rentabilidad           2023.000000  2022.000000
Margen de U.N            -0.000495     0.050213
Rent. Sobre los A.       -0.000056     0.005866
Rent Sobre el Pat. N.    -0.000199     0.019627
None                           NaN          NaN
Liquidez               2023.000000  2022.000000
Liquidez Corriente        1.180739     0.693295
Prueba Ácida              1.080281     0.581710
Liquidez Inmediata        0.491308     0.238809

In [6]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',4,5,'P',23,'R', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2023         2022
RDT                       0.597411     0.623825
RDC                       2.349956     1.658334
RDLP                      1.743271     1.623636
None                           NaN          NaN
Actividad              2023.000000  2022.000000
Rotación de Inv.         -2.268268     1.541112
Rotación de A.T.          0.076193     0.090134
Rotación de C. por c.     0.000000     0.000000
None                           NaN          NaN
Rentabilidad           2023.000000  2022.000000
Margen de U.N             0.183186     0.240829
Rent. Sobre los A.        0.013958     0.021707
Rent Sobre el Pat. N.     0.054903     0.057704
None                           NaN          NaN
Liquidez               2023.000000  2022.000000
Liquidez Corriente        1.575064     1.360931
Prueba Ácida              1.340866     1.151710
Liquidez Inmediata        0.325894     0.291696

In [7]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',5,5,'R',23,'W', 'ratios')

Nombre de dataframe: REPSOL ratios

,2024,2023,2022,2021,2020
RDT,0.493590,0.502634,2.467448,0.742215,0.782682
RDC,0.974684,1.010592,7.679938,2.879194,3.601550
RDLP,0.392172,0.229026,1.493898,1.410693,2.593811
None,NaN,NaN,NaN,NaN,NaN
Actividad,2024.000000,2023.000000,2022.000000,2021.000000,2020.000000
Rotación de Inv.,3.459721,2.122742,0.187096,3.102503,3.308800
Rotación de A.T.,0.176963,0.186027,0.925727,0.172071,0.207441
Rotación de C. por c.,0.000000,0.000000,0.000000,0.000000,0.000000
None,NaN,NaN,NaN,NaN,NaN
Rentabilidad,2024.000000,2023.000000,2022.000000,2021.000000,2020.000000
Margen de U.N,0.176963,0.186027,0.925727,0.172071,0.207441
Rent. Sobre los A.,0.176963,0.186027,0.925727,0.172071,0.207441
Rent Sobre el Pat. N.,0.349447,0.374024,2.881327,0.667497,0.954552
None,NaN,NaN,NaN,NaN,NaN
Liquidez,2024.000000,2023.000000,2022.000000,2021.000000,2020.000000
Liquidez Corriente,0.760125,0.823800,0.175282,0.643900,1.059742
Prueba Ácida,0.760125,0.823800,0.175282,0.643900,1.059742
Liquidez Inmediata,0.760125,0.823800,0.175282,0.643900,NaN

In [8]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',6,3,'K',21,'M', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2023         2022
RDT                       0.747810     0.784116
RDC                       2.965266     3.632110
RDLP                      0.000000          NaN
None                           NaN          NaN
Actividad              2023.000000  2022.000000
Rotación de Inv.          8.184344     8.507117
Rotación de A.T.          1.495057     1.638080
Rotación de C. por c.     0.000000     1.000000
None                           NaN          NaN
Rentabilidad           2023.000000  2022.000000
Margen de U.N             0.053179     0.046682
Rent. Sobre los A.        0.079506     0.076468
Rent Sobre el Pat. N.     0.315262     0.354210
None                           NaN          NaN
Liquidez               2023.000000  2022.000000
Liquidez Corriente        1.967336     1.694481
Prueba Ácida              0.924360     0.862766
Liquidez Inmediata        0.168510     0.288600

In [3]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',7,4,'O',22,'S', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2024         2023         2022         2021
RDT                       0.540963     0.528463     0.589858     0.734417
RDC                       1.178472     1.120723     1.438182     2.765360
RDLP                      0.131222     0.124065     0.128248     1.180216
None                           NaN          NaN          NaN          NaN
Actividad              2024.000000  2023.000000  2022.000000  2021.000000
Rotación de Inv.          0.767083     0.532402     0.543153     0.509664
Rotación de A.T.          0.172159     0.157379     0.214322     0.180773
Rotación de C. por c.     0.000000     0.000000     0.000000     0.000000
None                           NaN          NaN          NaN          NaN
Rentabilidad           2024.000000  2023.000000  2022.000000  2021.000000
Margen de U.N             0.072589    -0.186716     0.073658    -0.082609
Rent. Sobre los A.        0.026243    -0.069834     0.021455     0.012334
Rent Sobre el Pat. N.     0.283312    -0.749799     0.181357    29.239930
None                           NaN          NaN          NaN          NaN
Liquidez               2024.000000  2023.000000  2022.000000  2021.000000
Liquidez Corriente        0.299259     0.592675     0.413161     0.736374
Prueba Ácida              0.147144     0.425584     0.248842     0.466222
Liquidez Inmediata        0.101500     0.138960     0.073083     0.147350

In [9]:
r.extraccion_de_tablas('../data/raw/Ratios_empresas.xlsx',8,2,'J',20,'L', 'ratios')

Nombre de dataframe: REPSOL ratios

                              2023         2022
RDT                       0.528337     0.566857
RDC                       1.120158     1.308705
RDLP                      0.356037     0.454048
None                           NaN          NaN
Actividad              2023.000000  2022.000000
Rotación de Inv.          6.475615     7.703003
Rotación de A.T.          0.648347     0.803510
Rotación de C. por c.     0.000000     0.000000
None                           NaN          NaN
Rentabilidad           2023.000000  2022.000000
Margen de U.N             0.054119     0.056810
Rent. Sobre los A.        0.051401     0.070893
Rent Sobre el Pat. N.     0.108978     0.163670
None                           NaN          NaN
Liquidez               2023.000000  2022.000000
Liquidez Corriente        1.540892     1.547642
Prueba Ácida              1.105827     1.116562
Liquidez Inmediata        0.271234     0.384915